{% extends "base.html" %}
{% block title %}Edit Ticket | Ticket System{% endblock %}
{% block content %}

<div class="page-header">
  <h2 class="page-title">Edit Ticket #{{ ticket_id }}</h2>
</div>

<div class="page-body">
    <form method="POST">
        <label for="title">Title</label>
        <input type="text" name="title" value="{{ ticket[0] }}" required>

        <label for="description">Description</label>
        <textarea name="description" rows="5" required>{{ ticket[1] }}</textarea>

        <button type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}
